@charset "UTF-8";
* {
  font-family: "Hind Vadodara", sans-serif, 微軟正黑體;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes sun_shine {
  50% {
    filter: drop-shadow(0px 0px 4px #d24220);
  }
}
@keyframes daydark {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes cloud_drift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes no_cloud {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes light_shadow {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0);
  }
  10% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.2);
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.4);
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.6);
  }
  40% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.8);
  }
  50% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px #ffd633;
  }
  60% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.8);
  }
  70% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.6);
  }
  80% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.4);
  }
  90% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0.2);
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(255, 214, 51, 0);
  }
}
@keyframes light_move1 {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateX(-5px) translateY(5px);
  }
  20% {
    opacity: 1;
    transform: translateY(-10px) translateY(10px);
  }
  30% {
    opacity: 1;
    transform: translateX(-15px) translateY(15px);
  }
  40% {
    opacity: 1;
    transform: translateX(-15px) translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateX(-5px) translateY(15px);
  }
  60% {
    opacity: 1;
    transform: translateX(0px) translateY(10px);
  }
  70% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px) translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes light_move2 {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px) translateY(-5px);
  }
  30% {
    opacity: 1;
    transform: translateX(-15px) translateY(-15px);
  }
  40% {
    opacity: 1;
    transform: translateX(-10px) translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateX(10px) translateY(10px);
  }
  60% {
    opacity: 1;
    transform: translateX(15px) translateY(5px);
  }
  70% {
    opacity: 1;
    transform: translateX(15px) translateY(10px);
  }
  80% {
    opacity: 1;
    transform: translateX(15px) translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes light_move3 {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateX(0px) translateY(5px);
  }
  20% {
    opacity: 1;
    transform: translateY(-5px) translateY(-5px);
  }
  30% {
    opacity: 1;
    transform: translateX(-5px) translateY(-10px);
  }
  40% {
    opacity: 1;
    transform: translateX(-10px) translateY(-15px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px) translateY(-5px);
  }
  60% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  70% {
    opacity: 1;
    transform: translateX(10px) translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateX(15px) translateY(5px);
  }
  90% {
    opacity: 1;
    transform: translateX(15px) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(20px) translateY(15px);
  }
}
@keyframes light_move4 {
  0% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateX(5px) translateY(10px);
  }
  20% {
    opacity: 1;
    transform: translateY(10px) translateY(15px);
  }
  30% {
    opacity: 1;
    transform: translateX(10px) translateY(10px);
  }
  40% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  50% {
    opacity: 1;
    transform: translateX(5px) translateY(0px);
  }
  60% {
    opacity: 1;
    transform: translateX(5px) translateY(-5px);
  }
  70% {
    opacity: 1;
    transform: translateX(0px) translateY(-5px);
  }
  80% {
    opacity: 1;
    transform: translateX(-5px) translateY(-10px);
  }
  90% {
    opacity: 1;
    transform: translateX(-10px) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(10px);
  }
}
@keyframes light_move5 {
  0% {
    opacity: 1;
    transform: translateX(10px) translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateX(15px) translateY(5px);
  }
  20% {
    opacity: 1;
    transform: translateY(15px) translateY(15px);
  }
  30% {
    opacity: 1;
    transform: translateX(18px) translateY(15px);
  }
  40% {
    opacity: 1;
    transform: translateX(21px) translateY(18px);
  }
  50% {
    opacity: 1;
    transform: translateX(21px) translateY(21px);
  }
  60% {
    opacity: 1;
    transform: translateX(23px) translateY(21px);
  }
  70% {
    opacity: 1;
    transform: translateX(16px) translateY(19px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px) translateY(10px);
  }
  90% {
    opacity: 1;
    transform: translateX(5px) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes raindrop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(45px);
    opacity: 0;
  }
}
.daybox {
  background-color: #7fb2f5;
  width: 50%;
  max-width: 400px;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.4);
  border-radius: 5px;
}
.daybox .top {
  height: 330px;
  background: #7fb2f5;
  background-size: 100% 300%;
  border-radius: 5px;
  overflow: hidden;
}
.daybox .top .sun_set {
  fill: rgba(255, 214, 51, 0.7);
  stroke: rgba(255, 214, 51, 0.2);
  stroke-width: 8px;
  animation: sun_shine 3s infinite;
}
.daybox .top .moon {
  transform: translateY(150px);
  fill: rgba(243, 243, 243, 0.7);
  stroke-width: 8px;
  stroke: rgba(243, 243, 243, 0.2);
}
.daybox .cloud {
  fill: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.4);
  animation: cloud_drift 2s infinite;
}
.daybox .black_cloud {
  transform: translateX(100px);
}
.daybox .tussock {
  position: absolute;
  fill: #26ee30;
  filter: drop-shadow(0px 0px 10px #41c548);
  transform: translateY(70px);
}
.daybox .tussock2 {
  position: absolute;
  fill: #41c548;
  transform: translateY(70px);
}
.daybox .tussock3 {
  position: absolute;
  fill: #006f06;
  transform: translateY(70px);
}
.daybox .text_area {
  position: absolute;
  bottom: 25px;
  left: 10px;
}
.daybox .text_area2 {
  position: absolute;
  transform: translateX(-150px) translateY(-207px);
  color: #f3f3f3;
}
.daybox .temperature {
  font-size: 52px;
  line-height: 60px;
  padding-left: 0px;
}
.daybox .infos {
  font-size: 13px;
}
.daybox .orange_tree {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: -92px;
  right: 10px;
}
.daybox .firefly1 {
  background-color: #FFD633;
  width: 10px;
  height: 10px;
  left: 210px;
  top: -170px;
  border-radius: 50%;
  background: radial-gradient(#ffd633, rgba(255, 214, 51, 0.8), rgba(255, 214, 51, 0.8));
  opacity: 0;
}
.daybox .firefly2 {
  background-color: #FFD633;
  width: 8px;
  height: 8px;
  left: 266px;
  top: -180px;
  border-radius: 50%;
  background: radial-gradient(#ffd633, rgba(255, 214, 51, 0.8), rgba(255, 214, 51, 0.8));
  opacity: 0;
}
.daybox .firefly3 {
  background-color: #FFD633;
  width: 6px;
  height: 6px;
  left: 235px;
  top: -170px;
  border-radius: 50%;
  background: radial-gradient(#ffd633, rgba(255, 214, 51, 0.8), rgba(255, 214, 51, 0.8));
  opacity: 0;
}
.daybox .firefly4 {
  background-color: #FFD633;
  width: 6px;
  height: 6px;
  left: 290px;
  top: -160px;
  border-radius: 50%;
  background: radial-gradient(#ffd633, rgba(255, 214, 51, 0.8), rgba(255, 214, 51, 0.8));
  opacity: 0;
}
.daybox .firefly5 {
  background-color: #FFD633;
  width: 4px;
  height: 4px;
  left: 320px;
  top: -155px;
  border-radius: 50%;
  background: radial-gradient(#ffd633, rgba(255, 214, 51, 0.8), rgba(255, 214, 51, 0.8));
  opacity: 0;
}

.medium {
  height: 140px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.4);
  background-color: rgba(243, 243, 243, 0.4);
}
.medium .dayweather {
  width: calc(100% / 7 - 5px);
  display: inline-block;
  text-align: center;
}
.medium .dayweather h3 {
  padding-top: 20px;
  font-size: 13px;
}
.medium .dayweather svg {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.medium .dayweather svg .bottom_sun {
  stroke-width: 20px;
  stroke-dasharray: 5px;
  stroke: rgba(255, 214, 51, 0.5);
  fill: #FFD633;
}
.medium .dayweather svg .bottom_cloud {
  fill: #f3f3f3;
  animation: cloud_drift 2s infinite;
}
.medium .dayweather svg .rain {
  stroke-width: 10px;
  stroke: #7fb2f5;
}

.temsvg {
  height: 10px;
  width: 100%;
  stroke: #f3f3f3;
  stroke-width: 1px;
  border-radius: 0px 0px 5px 5px;
  transition-duration: 2s;
}
.temsvg circle {
  fill: #f3f3f3;
  opacity: 0;
  top: 20px;
}
.temsvg polyline {
  stroke: #f3f3f3;
  fill: none;
  opacity: 0;
  top: 20px;
}
.temsvg text {
  fill: #f3f3f3;
  stroke-width: 0px;
  font-weight: 200;
  font-size: 15px;
  line-height: 60px;
  padding-left: 5px;
  transform: translateX(-9px) translateY(20px);
  opacity: 0;
  top: 20px;
}

.text_area {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 10px;
}

.daybox:hover .top {
  animation: daydark 25s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  background: linear-gradient(#0066CC 0%, #7fb2f5 11%, #FFD700 22%, #f5560c 33%, #FFA07A 44%, #e5ad98 55%, #363332 66%, #080707 77%, #000000 100%);
  background-size: 100% 800%;
}
.daybox:hover .sun_set {
  fill: rgba(255, 214, 51, 0.7);
  transform: translateY(150px);
  transition-duration: 18s;
  transition-delay: 9s;
}
.daybox:hover .moon {
  transform: translateY(0px);
  transition-duration: 11s;
  transition-delay: 21s;
}
.daybox:hover .cloud {
  animation: no_cloud 5s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.daybox:hover .black_cloud {
  transform: translateX(0px);
  transition-duration: 8s;
  transition-delay: 16s;
  fill: #333;
}
.daybox:hover .orange_tree {
  opacity: 0;
  transition-duration: 3s;
  transition-delay: 1s;
}
.daybox:hover .tussock, .daybox:hover .tussock2, .daybox:hover .tussock3 {
  transform: translateY(0px);
  transition-duration: 6s;
  transition-delay: 30s;
}
.daybox:hover .text_area {
  transform: translateX(-180px);
  transition-duration: 5s;
  transition-delay: 4s;
}
.daybox:hover .text_area2 {
  transform: translateX(10px) translateY(-207px);
  transition-duration: 4s;
  transition-delay: 35s;
}
.daybox:hover .firefly1 {
  animation: light_move1 4s infinite, light_shadow 4s infinite linear;
  opacity: 0;
  animation-delay: 40s;
}
.daybox:hover .firefly2 {
  animation: light_move2 4s infinite, light_shadow 4s infinite linear;
  animation-delay: 40s;
  opacity: 0;
}
.daybox:hover .firefly3 {
  animation: light_move3 4s infinite, light_shadow 4s infinite linear;
  animation-delay: 40s;
  opacity: 0;
}
.daybox:hover .firefly4 {
  animation: light_move4 4s infinite, light_shadow 4s infinite linear;
  animation-delay: 40s;
  opacity: 0;
}
.daybox:hover .firefly5 {
  animation: light_move5 4s infinite, light_shadow 4s infinite linear;
  animation-delay: 40s;
  opacity: 0;
}
.daybox:hover .temsvg {
  height: 140px;
}
.daybox:hover .temsvg circle {
  opacity: 1;
}
.daybox:hover .temsvg polyline {
  opacity: 1;
}
.daybox:hover .temsvg text {
  opacity: 1;
}

.rain {
  width: 2px;
  height: 13px;
  position: absolute;
  left: 45px;
  bottom: 15px;
  animation-delay: 0s;
  animation: raindrop 1s infinite linear;
}

.rain2 {
  left: 25px;
  bottom: 20px;
  animation-delay: -0.4s;
}

.rain3 {
  left: 65px;
  bottom: 20px;
  animation-delay: -0.7s;
}